services:
  app:
    build:
      context: .
    ports:
      - "8080:80"
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      APP_URL: http://localhost:8080
      DB_CONNECTION: sqlite
      DB_DATABASE: /var/www/html/database/database.sqlite
      RUN_MIGRATIONS: "true"
    volumes:
      - ./database:/var/www/html/database
      - ./storage:/var/www/html/storage
